name: PHP

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          tools: composer

      - name: Lint PHP files
        run: |
          find . -name "*.php" -not -path "./includes/config.php" -print0 | xargs -0 -n1 php -l

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run PHPUnit tests
        run: ./vendor/bin/phpunit --testdox --colors=always

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_PROJECT }}
        with:
          args: >
            -Dsonar.projectKey=Ismail-khlif_miniprojet-DevOps
            -Dsonar.organization=ismail-khlif
            -Dsonar.sources=.
            -Dsonar.exclusions=tests/**,vendor/**
            -Dsonar.tests=tests

      - name: SonarCloud Report Link
        run: |
          echo "SONARCLOUD REPORT"
          echo ""
          echo "Issues:"
          echo "https://sonarcloud.io/project/issues?id=Ismail-khlif_miniprojet-DevOps"
          echo ""
          echo "Project Overview:"
          echo "https://sonarcloud.io/project/overview?id=Ismail-khlif_miniprojet-DevOps"
