name: PHP

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
      - name: Lint PHP files
        run: |
          find . -name "*.php" -not -path "./includes/config.php" -print0 | xargs -0 -n1 php -l

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN_PROJECT }}
        with:
          args: >
            -Dsonar.projectKey=Ismail-khlif_miniproject-devops
            -Dsonar.organization=ismail-khlif
